Flask==0.12.2
Flask-Login==0.4.0
Flask-MySQL==1.4.0
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
PyMySQL==0.7.11
pyOpenSSL==17.2.0
requests==2.13.0
simplejson==3.11.1
twilio==6.5.1
Werkzeug==0.12.2
httplib2==0.10.3
