<!DOCTYPE>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- Title and favicon -->
		<title>Ragtime-login</title>
		<link rel="shortcut icon" type="image/png" href="../static/images/logo1.png"/>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- CSS -->
		<link rel="stylesheet" href="../static/css/style.css" type="text/css">
		<link href="../static/css/hover.css" rel="stylesheet" media="all">
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<!-- JQuery -->
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="row">
			<h1>Hello, {{user.name}}</h1>
			<button id="logout">logout</button>
			<hr>
		</div>
		<div class="container">
			<center>
				<input id="artistFill" type="text" list="artistList"><datalist id="artistList"></datalist>
				<img class="hvr-shrink" id="addButt" src="../static/images/add.png">
			</center>
		</div>
	<footer class="footer">
		<p id="copy">&copy;Ragtime 2017</p>
	</footer>
	<!-- script -->
	<script type="text/javascript" src="../static/js/script.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	</body>
</html